In [62]:
import numpy as np
import pandas as pd
import ast

## Preprocessing the Books Data

In [63]:
books_data = pd.read_csv('books_data.csv')
books_data.head(5)

,Title,description,authors,image,previewLink,publisher,publishedDate,infoLink,categories,ratingsCount
0,Its Only Art If Its Well Hung!,NaN,['Julie Strain'],http://books.google.com/books/content?id=DykPA...,http://books.google.nl/books?id=DykPAAAACAAJ&d...,NaN,1996,http://books.google.nl/books?id=DykPAAAACAAJ&d...,['Comics & Graphic Novels'],NaN
1,Dr. Seuss: American Icon,Philip Nel takes a fascinating look into the k...,['Philip Nel'],http://books.google.com/books/content?id=IjvHQ...,http://books.google.nl/books?id=IjvHQsCn_pgC&p...,A&C Black,2005-01-01,http://books.google.nl/books?id=IjvHQsCn_pgC&d...,['Biography & Autobiography'],NaN
2,Wonderful Worship in Smaller Churches,This resource includes twelve principles in un...,['David R. Ray'],http://books.google.com/books/content?id=2tsDA...,http://books.google.nl/books?id=2tsDAAAACAAJ&d...,NaN,2000,http://books.google.nl/books?id=2tsDAAAACAAJ&d...,['Religion'],NaN
3,Whispers of the Wicked Saints,Julia Thomas finds her life spinning out of co...,['Veronica Haddon'],http://books.google.com/books/content?id=aRSIg...,http://books.google.nl/books?id=aRSIgJlq6JwC&d...,iUniverse,2005-02,http://books.google.nl/books?id=aRSIgJlq6JwC&d...,['Fiction'],NaN
4,"Nation Dance: Religion, Identity and Cultural ...",NaN,['Edward Long'],NaN,http://books.google.nl/books?id=399SPgAACAAJ&d...,NaN,2003-03-01,http://books.google.nl/books?id=399SPgAACAAJ&d...,NaN,NaN

In [64]:
books_data.shape

(212404, 10)

In [65]:
books_data['Title'].nunique()

212403

In [66]:
# show 20 unique values in the column categories

books_data['categories'].unique()[:50]

array(["['Comics & Graphic Novels']", "['Biography & Autobiography']",
       "['Religion']", "['Fiction']", nan, "['Social Science']",
       "['Reference']", "['Juvenile Nonfiction']",
       "['Technology & Engineering']", "['History']",
       "['New Zealand fiction']", "['Law']", "['Political Science']",
       "['Health & Fitness']", "['Cooking']", "['Philosophy']",
       "['Europe']", "['Sports & Recreation']", "['Body, Mind & Spirit']",
       "['Psychology']", "['Bible stories, English']", "['New Thought']",
       "['Crafts & Hobbies']", "['Language Arts & Disciplines']",
       "['Juvenile Fiction']", "['Foreign Language Study']",
       "['Medical']", "['Architecture']", "['Art']",
       "['Family & Relationships']", "['Literary Collections']",
       "['Merchant marine']", "['Spiritualism']", "['America']",
       "['Local author']", "['Gardening']",
       "['Holocaust, Jewish (1939-1945)']", "['Meditations']",
       "['Games']", "['Science']", "['Business & Economics']",
       "['Computers']", "['English language']", "['Performing Arts']",
       "['Adventure stories']", "['Woburn (Mass.)']",
       '["Children\'s libraries"]', "['Families']", "['Success']",
       "['Travel']"], dtype=object)

In [67]:
# remove rows with NaN values for categories
books_data = books_data.dropna(subset=['categories'])

In [68]:
books_data.loc[:, 'categories'] = books_data['categories'].apply(ast.literal_eval)

In [69]:
df_fiction = books_data[books_data['categories'].apply(lambda x: any('juvenile fiction' in cat.lower() for cat in x))]

df_fiction.head()

,Title,description,authors,image,previewLink,publisher,publishedDate,infoLink,categories,ratingsCount
42,Tess and the Highlander,"In 1543, on a windswept isle off of Scotland, ...",['May Mcgoldrick'],http://books.google.com/books/content?id=VmCRS...,http://books.google.nl/books?id=VmCRSPmY3WkC&d...,Harper Collins,2002-11,http://books.google.nl/books?id=VmCRSPmY3WkC&d...,[Juvenile Fiction],2.0
73,Night World: Daughters Of Darkness,"""There’s something strange about the new girls...",['L.J. Smith'],http://books.google.com/books/content?id=c9icD...,http://books.google.nl/books?id=c9icDQAAQBAJ&p...,Simon and Schuster,2016-12-06,http://books.google.nl/books?id=c9icDQAAQBAJ&d...,[Juvenile Fiction],11.0
94,Jimmy Jam Germ And the Happy Handshake (The Ad...,Thumbs up Johnnie visits all his favorite plac...,['Michelle Bain'],http://books.google.com/books/content?id=YLYbG...,http://books.google.nl/books?id=YLYbGQAACAAJ&d...,NaN,2007-03-01,http://books.google.nl/books?id=YLYbGQAACAAJ&d...,[Juvenile Fiction],NaN
131,Tales from silver lands,Atmospheric woodcuts illustrate this Newbery A...,['Charles J. Finger'],http://books.google.com/books/content?id=TM02D...,http://books.google.nl/books?id=TM02DwAAQBAJ&p...,Courier Dover Publications,2017-09-20,https://play.google.com/store/books/details?id...,[Juvenile Fiction],2.0
141,Gorilla,Little Gorilla's family and friends try to hel...,NaN,http://books.google.com/books/content?id=5KD4r...,http://books.google.nl/books?id=5KD4r_CYSjoC&p...,Houghton Mifflin Harcourt,1986-03,http://books.google.nl/books?id=5KD4r_CYSjoC&d...,[Juvenile Fiction],10.0

In [70]:
# remove rows with the same values for authors and publishedDate
df_fiction = df_fiction.drop_duplicates(subset=['authors', 'publishedDate'])

In [71]:
df_fiction.shape

(5835, 10)

In [72]:
# remove the duplicates in the description column
#df_fiction = df_fiction.drop_duplicates(subset='description')

In [73]:
#df_fiction.loc[:, "title"] = df_fiction["Title"].str.lower().str.replace(r",", "", regex=False)
# show duplicates in the title column
#df_fiction[df_fiction.duplicated(subset=["title"], keep=False)].sort_values("title")

In [74]:
# drop columns image previewLink publisher publishedDate infoLink raitingCount
df_fiction.drop(df_fiction.columns[[1,3,4,5,6,7,9]], axis=1, inplace=True)

## Loading Books Rating

In [75]:
books_rating = pd.read_csv('books_rating.csv')
books_rating.head()

,Id,Title,Price,User_id,profileName,review/helpfulness,review/score,review/time,review/summary,review/text
0,1882931173,Its Only Art If Its Well Hung!,NaN,AVCGYZL8FQQTD,"Jim of Oz ""jim-of-oz""",7/7,4.0,940636800,Nice collection of Julie Strain images,This is only for Julie Strain fans. It's a col...
1,0826414346,Dr. Seuss: American Icon,NaN,A30TK6U7DNS82R,Kevin Killian,10/10,5.0,1095724800,Really Enjoyed It,I don't care much for Dr. Seuss but after read...
2,0826414346,Dr. Seuss: American Icon,NaN,A3UH4UZ4RSVO82,John Granger,10/11,5.0,1078790400,Essential for every personal and Public Library,"If people become the books they read and if ""t..."
3,0826414346,Dr. Seuss: American Icon,NaN,A2MVUWT453QH61,"Roy E. Perry ""amateur philosopher""",7/7,4.0,1090713600,Phlip Nel gives silly Seuss a serious treatment,"Theodore Seuss Geisel (1904-1991), aka &quot;D..."
4,0826414346,Dr. Seuss: American Icon,NaN,A22X4XUPKF66MR,"D. H. Richards ""ninthwavestore""",3/3,4.0,1107993600,Good academic overview,Philip Nel - Dr. Seuss: American IconThis is b...

In [76]:
# drop the columns that are not needed (Price, review/time, review/summary)
books_rating = books_rating.drop(['Price', 'review/time', 'review/summary'], axis=1)
books_rating.head()

,Id,Title,User_id,profileName,review/helpfulness,review/score,review/text
0,1882931173,Its Only Art If Its Well Hung!,AVCGYZL8FQQTD,"Jim of Oz ""jim-of-oz""",7/7,4.0,This is only for Julie Strain fans. It's a col...
1,0826414346,Dr. Seuss: American Icon,A30TK6U7DNS82R,Kevin Killian,10/10,5.0,I don't care much for Dr. Seuss but after read...
2,0826414346,Dr. Seuss: American Icon,A3UH4UZ4RSVO82,John Granger,10/11,5.0,"If people become the books they read and if ""t..."
3,0826414346,Dr. Seuss: American Icon,A2MVUWT453QH61,"Roy E. Perry ""amateur philosopher""",7/7,4.0,"Theodore Seuss Geisel (1904-1991), aka &quot;D..."
4,0826414346,Dr. Seuss: American Icon,A22X4XUPKF66MR,"D. H. Richards ""ninthwavestore""",3/3,4.0,Philip Nel - Dr. Seuss: American IconThis is b...

### Merging the two datasets

In [77]:
# match the books_rating data with the df_fiction data using the Title column

df_fiction = df_fiction.merge(books_rating, on='Title', how='inner')
df_fiction.head()

,Title,authors,categories,Id,User_id,profileName,review/helpfulness,review/score,review/text
0,Tess and the Highlander,['May Mcgoldrick'],[Juvenile Fiction],006000486X,A2VCGJLKGK2WJJ,Rebecca Herman,17/18,5.0,Tess was washed ashore on the Isle of May duri...
1,Tess and the Highlander,['May Mcgoldrick'],[Juvenile Fiction],006000486X,NaN,NaN,9/9,5.0,"After enjoying a previous Avon True Romance, G..."
2,Tess and the Highlander,['May Mcgoldrick'],[Juvenile Fiction],006000486X,AVWFMN5CELC8Q,sarah,6/6,4.0,This is an engaging a count of life of Tess a ...
3,Tess and the Highlander,['May Mcgoldrick'],[Juvenile Fiction],006000486X,A37XYM3KSEIDLS,"jaina_solo ""jaina_solo""",6/6,5.0,This book was a perfect historical romance for...
4,Tess and the Highlander,['May Mcgoldrick'],[Juvenile Fiction],006000486X,A1IQK80SXVPAWW,atlantis_girl,4/4,5.0,I loved everything about this book - the setti...

In [78]:
df_fiction.shape

(170325, 9)

In [79]:
# null values 
df_fiction.isnull().sum()

Title                     0
authors                2303
categories                0
Id                        0
User_id               53638
profileName           53648
review/helpfulness        0
review/score              0
review/text               0
dtype: int64

In [80]:
# display the distribution of the ratings per book (count records per book)

df_fiction['Title'].value_counts()

Title
The Hobbit                                                                               22023
The Giver                                                                                 7644
Harry Potter and The Sorcerer's Stone                                                     6796
Holes                                                                                     3568
Harry Potter and the Chamber of Secrets                                                   3137
                                                                                         ...
A Present for Santa                                                                          1
Las aventuras de Gato-gato: The Adventures of Gato-gato (Spanish and English Edition)        1
Picture Me Cuddly as a Bunny                                                                 1
Fiennders Keepers                                                                            1
The Good, the Bad, and the Robotic (Pictureback(R))                                          1
Name: count, Length: 5835, dtype: int64

In [82]:
# remove rows with NaN values for user_id or profileName
df_fiction = df_fiction.dropna(subset=['User_id', 'profileName'])

In [83]:
df_fiction.shape

(116677, 9)

In [84]:
# save the cleaned data to a new csv file
df_fiction.to_csv('df_fiction.csv', index=False)